.container {
  background: skyblue;
  width: 90vh;
  height: 90vh;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.parent {
  background: burlywood;
  width: 60vh;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* Giving properties to a ball and also giving a time to ball to complete one rotation */
.ball {
  width: 50px;
  height: 50px;
  background: radial-gradient(white, red);
  border-radius: 50%;

  position: absolute;
  left: 50px;
  top: 50px;

  animation: circle 3s infinite;
}
/* Using the keyframes to animate the ball around the main object */
@keyframes circle {
  0% {
    left: 50px;
    top: 50px;
  }
  25% {
    left: 85vw;
    top: 50px;
  }

  50% {
    top: 80vh;
    left: 85vw;
  }

  75% {
    top: 80vh;
    left: 50px;
  }

  100% {
    left: 50px;
    top: 50px;
  }
}
